@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
}

li, a, button, textarea, input {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

ul{
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #b1f5b2;
}

.active_link{
  color: #4CAF50;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: basic-sans, sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100%;
 }

 footer {
   text-align: center;
   padding: 5px;
   margin-top: auto;
   background-color: #707070;
   color: whitesmoke;
 }

footer a{
  transition: all 0.3s ease 0s;
  font-size: 25px;
}

footer a:hover{
  color: #4CAF50;
}

.page { 
  margin: auto;
  width: 1000px;
   word-wrap: break-word;
  text-align: center;
  flex: 1;
}



.submit_button{
    background-color: #4CAF50;
    border: 1px solid;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    outline: 0;
    display: inline-block;
    transition: all 0.3s ease 0s;
}


.category_button{    
  background-color: #4CAF50;
  opacity: 0.5;
  border: 1px solid;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  outline: 0;
  display: inline-block;
  transition: all 0.3s ease 0s;}

.active_category_button {
    background-color: #4CAF50;
    border: 1px solid;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    outline: 0;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.category_button:hover{
  background-color: #4CAF50;
  opacity: 1;
  color: white;
  cursor: pointer;
}

.submit_button:hover{
  background-color: #ffffff;
  color: #24252a;
  cursor: pointer;
}

input{
  outline: 0;
  border: none;
  line-height: none;
}

input:focus{
  border-color: #4CAF50;
}

.warning_form{
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 75, 75);
  margin-top: 20px;
}

.line_after_recipes{
  width: 100%;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  margin-top: 10px;
}


.search_input {
  margin: 20px 0;
  width: 25%;
  background-image: url(assets/search-logo.svg);
  background-size: 30px;
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: black;

  padding: 10px 5px 10px 20px;
  text-indent: 20px;
  transition: width 0.4s ease-in-out;
}

.search_input:focus {
  width: 50%;
}

.search_input::-webkit-search-cancel-button{
  margin-right: 10px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url(assets/cancel-button.svg);
  color: black;
}

h1 {
  font-size: 64px;
  font-weight: 12px;
 }

 h2 {
  font-size: 40px;
  font-weight: 12px;
 }

 .link {
   color: #4CAF50;
   text-decoration: underline;
   text-decoration-color: transparent;
   transition: all 0.7s ease 0s;

 }

 .link:hover {
  text-decoration-color: #4CAF50;
 }

 .value {
   color: rgba(0, 0, 0, 0.6);
 }

 .title {
   font-size: 20px;
   color: black;
   font-weight: bold;
   letter-spacing: 2px;
 }

 .datetime {
   font-size: 13px;
   color: rgba(0,0,0,0.4);
 }

 input.form{
  width: 500px;
  height: 40px;
  margin: 10px 0;
  outline: 0;
  color: black;
  border-bottom: solid 1px rgb(218, 218, 218);
  padding-left: 5px;
  transition: border-color 0.5s ease 0s;
 }

 input.form:focus{
  border-color: #4CAF50;
 }

 textarea.form {
  width: 500px;
  resize: none;
  outline: 0;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 5px;
  color: black;
  transition: border-color 0.5s ease 0s;
 }

 textarea.form:focus{
  border-color: #4CAF50;
 }

 .err {
   font-size: 22px;
   font-weight: 500;
   letter-spacing: 3px;
   margin-bottom: 20px;
 }